<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- menu -->
  <div class="flex space-x-5 justify-center mt-10">
    <h1><a class="text-gray-400 text-4xl text-center hover:text-gray-800" routerLink="">Home Page</a></h1>
    <h1><a class="text-gray-400 text-4xl text-center hover:text-gray-800" routerLink="products">Produsts Page</a></h1>
     <h1><a class="text-gray-400 text-4xl text-center hover:text-gray-800" routerLink="admin">Admin</a></h1>
  </div>
  <!-- show content -->
  <router-outlet />
</body>

</html>